---
layout: default
title: Mapless, obscenely simple object persistence
---


<div class="container">
    <div class="header">
        <div class="row">
            <div class="logoWrap">
                <div class="symbol">
                    <img alt="Mapless logo" src="images/symbol.png">
                </div>    
                <div class="center-on-mobiles">
                    <h1>Mapless</h1>
                </div>    
        </div>
        </div>    
    </div>

    <div class="content">
        <section class="intro">
          {% include intro.html %}
        </section>
        <section class="start">
                <div class="col-md-4 loadNow center-on-mobiles">
                    <h4>Saving Smalltalk objects <em>in seconds</em></h4>
                </div>
                <div class="col-md-8 ">
                    <div class="quickstart">
                        <p class="shellTitle">Load in Pharo</p>
                        {% include baselineOfMapless.html %}
                    </div>
                </div>            
        </section>

        <section class="howDoesItFeel">
                <div class="col-md-5 ">
                    <div class="elaborate">
                        <h5>Your application needs to persist modeled data?</h5>
                        <p>This is what happens when you do it with Mapless:</p>
                        <ol>
                            <li>Create a subclass for them.</li>
                            <li><del>Know in advance what attributes they will need./del></li>
                            <li><del>Create its attributes' instVars.</del></li>
                            <li><del>Make accessors for all of them.</del></li>
                            <li><del>Elegantly map them so it all fits in the database.</del></li>
                            <li><del>Patiently re-map them every time you need to change its design saying 'hi' to object-database mismatches.</del></li>
                            <li>Actually save them.</li>
                            <li>Profit.</li>
                        </ol>
                    </div>
                </div>

                 <div id="screencast" class="col-md-7">
                    <div class="elaborate ">
                        <h5 >Screencast</h5>
                        <p><iframe width="420" height="315" src="//www.youtube.com/embed/BNXXDOPLxtE" frameborder="0" allowfullscreen></iframe></p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="elaborate">
                        <h5>How does it look like?</h5>
                        <p>Let's say you want to store and retrieve instances of <code>Task</code> as Mapless models using MongoDB as backend.</p>
                        <p>You basically will create a repository object, create Task instances that you'll save, query, update or delete.</p>
                        <p>Let's see the snippets for that step by step.</p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="elaborate">
                        <h5>Create the repository</h5>
                        <p>There are two ways to access MongoDB with Mapless. <code>MaplessStandaloneMongoPool</code> for single server setups and <code>MaplessMongoReplicaSetPool</code> for clusters of <a href="https://www.mongodb.com/docs/manual/replication/" target="_blank"> replica sets</a>.</p>
                        <p>The following example shows a local standalone MongoDB example.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Instantiate the repository</p>
                        {% include repository.html %}
                    </div>
                </div> 

                <div class="col-md-12">
                    <div class="elaborate extraTop">
                        <h5>Model your data</h5>
                        <p>Creating new instances of your data models have nothing special. You treat them like any other object.</p>
                        <p>The only thing to remark here is that you do not need to create the mutator methods <code>description:</code> nor <code>isComplete:</code> in the <code>Task</code> class.</p>
                    </div>
                </div>                

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Create a new model</p>
                        {% include model.html %}
                    </div>
                </div>                 

                <div class="col-md-12">
                    <div class="elaborate extraTop">
                        <h5>Storing</h5>
                        <p></p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Saving a model</p>
                        {% include save.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="getting">Querying</h5>
                        <p>Mapless can use different persistent backends and depending on which one you're using is how you implement the queries for your data. For example when Mapless has a PostgreSQL or SQLite backend you'll be using SQL, when it has MongoDB it uses the <a href="http://smalltalkhub.com/#!/~MongoTalkTeam/mongotalk">MongoTalk</a> querying feature and for Redis you'll be using a namespaced convention.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Fetching objects</p>
                        {% include findAll.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Making the queries powerful</h5>
                        <p>Let's say you are using a MongoDB backend and want a production ready query by <code>username</code> for this <code>Task</code> data model. All you have to do is to <a href="https://www.mongodb.com/docs/manual/reference/method/db.collection.createIndex/" target="_blank">create an index in MongoDB</a> for <code>username</code> in the <code>Task</code> collection, and if it's of your preference, a class method in <code>Task</code> for the query.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Querying efficiently</p>
                        {% include findAtUsername.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="updating">Adding properties to models</h5>
                        <p>Simply do it. Unless overriden, Mapless catches all messages you send to a model via <a href="https://wiki.c2.com/?DoesNotUnderstand" target="_blank">DNU</a>. It is smart enough to allow you to add a date a string or almost any other object without declaring instVars or demanding making schemas or any accessors for it.</p>
                    </div>
                </div>

                <div id="simple" class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Adding information to your data</p>
                        {% include update.html %}
                    </div>
               </div> 

                 <div id="composability" class="col-md-12 ">
                    <div class="elaborate">
                        <h5 id="adding">Composition</h5>
                        <p>When you model data with your own Mapless classes, you can add almost any property to them, specially other Mapless models, hence composition. When that happens, Mapless will use one collection or table in the backend per type of Mapless object.</p>
                        <p>The main rule when working with composition here is <em>save the children first</em>.</p>
                    </div>
                </div>


                <div  class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Composing models</p>
                        {% include composition.html %}
                    </div>
                </div> 

                <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Graph navigation</h5>
                        <p>When you save a Mapless object, you are planting the root of a graph. When you send a message to a composed Mapless object, reaching to the child Mapless is like navigating the object graph one level deeper. Mapless objects that are composed will return lazy references for every (sub)mapless known by the parent. When you send a message to a (sub)model, the DNU method will return it resolving as if it was always there.</p>
                        <p>At the same time, if a Mapless object never sends any message to a child, then your application is not doing any unnecessary query for that and your backend will say thanks for preventing it do unnecessary extra work.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Navigating model graphs</p>
                        {% include navigation.html %}
                    </div>
                </div> 

                <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="portability">Supported backends</h5>
                        <p>All Mapless subclasses have the same basic Smalltalk API and at the time to resolve the requested operations they delegate that in a <code>MaplessRepository</code> subclass corresponding to one of the concrete supported backends.</p>
                        <p>The following are currently supported:</p>
                        <ol>
                            <li>SQLite.</li>
                            <li>PostgreSQL.</li>
                            <li>MongoDB.</li>
                            <li>Redis.</li>
                            <li>Memory.</li>
                            <li><s>UnQLite</s>. Deprecated and retiring soon.</li>
                        </ol>
                    </div>
                </div>

                 <div id="why" class="col-md-12 ">
                    {% include intention.html %}
                </div>

                 <div id="involved" class="col-md-12 ">
                    <div class="elaborate">
                        <h5 class="">Frequently Asked Questions</h5>
                            <p><em>What saving 'Models' means? why not any object?</em></p>
                            <p>By models Mapless means that you are not pretending to save transient stuff like contexts or sockets or file handlers, etc. Any instance of a <code>Mapless</code> subclass will save in a breeze. Those instances are going to be serialized and stored as documents of its own MongoDB collection or PostgreSQL table.<p>
                            <p><em>Is only for tree-like structures or does actually support an object graph?</em></p>
                            <p>Given that you follow its rules,like saving children first and thinking your models as noSQL friendly documents, yes, it does support an arbitrary object graph.<p>
                            <p><em>Why would I want to use Mapless?</em></p>
                            <p> Because you might want to profit from some of these benefits:
                            <ol>
                                <li>JSON friendly persisted models.</li>
                                <li>Having frictionless system interoperability with Ruby and NodeJS and any JSON friendly object oriented app.</li>
                                <li>Dealing with Gigas or Teras order of magnitude databases.</li>
                                <li>High availability via <a href="https://www.mongodb.com/docs/manual/replication/" target="_bank">MongoDB Replica Set features</a> or <a href="https://www.postgresql.org/docs/current/high-availability.html" target="_bank">PostgreSQL Replication</a>.</li>
                                <li>Replication of the whole database across the cloud.</li>
                                <li>World class databases many engineers are familiar to use and <em>maintain</em>.</li>
                                <li>Powerful queries and custom indices.</li>
                                <li>Freedom from <em>a prioristic</em> instVars declarations.</li>
                                <li>Freedom from mappings maintenance <em>when</em> the design changes.</li>                                
                                <li>Cross-image model caching (requires Redis).</li>
                                <li>Cross-image model observation/reaction, horizontally scalling the <a href="http://en.wikipedia.org/wiki/Observer_pattern" >Observer Pattern</a> (requires Redis PUB/SUB).</li>
                            </ol> All that with <em>very low-friction and low-maintenance</em> using one comfortable API.<p>                    
                    </div>
                </div>

                 <div id="direction" class="col-md-12 ">
                    <div class="elaborate">
                        <h5>Need support?</h5>
                        <p>Don't hesitate to reach out in <a href="https://twitter.com/sebastianconcpt" target="_blank">𝕏</a> or <a href="https://www.linkedin.com/in/sebastiansastre/" target="_blank">LinkedIn</a> <a href="https://discord.com/invite/QewZMZa" target="_blank">Pharo Discord server</a> for discussing design possibilities and implementation support.</p>
                    </div>
                </div>

                 <div class="col-md-12">
                    <div class="elaborate ">
                        <h5 class="">License</h5>
                        <p>Since 2014 <a href="http://sebastiansastre.co">Sebastian Sastre</a> published Mapless under the terms of <a href="https://github.com/sebastianconcept/Mapless/blob/master/LICENSE">MIT License</a>.</p>
                </div>
        </section>
</div>
<div>
    {% include foot.html %}
</div>