---
layout: default
title: Mapless, obscenely simple object persistence
---


<div class="container">
    <div class="header">
        <div class="row">
            <div class="logoWrap">
                <div class="symbol">
                    <img alt="Mapless logo" src="images/symbol.png">
                </div>    
                <div class="center-on-mobiles">
                    <h1>Mapless</h1>
                </div>
                <p class="descriptive-tagline">Schema-less persistence for Smalltalk with support for multiple backends.</p>
        </div>
        </div>    
    </div>

    <div class="content">
        <section class="intro">
          {% include intro.html %}
        </section>
        <section class="start">
                <div class="col-md-4 loadNow center-on-mobiles">
                    <h4>Saving Smalltalk objects <em>in seconds</em></h4>
                </div>
                <div class="col-md-8 ">
                    <div class="quickstart">
                        <p class="shellTitle">Load in Pharo</p>
                        {% include baselineOfMapless.html %}
                    </div>
                </div>            
        </section>
        <section>
            <div class="col-md-12">
                <div class="elaborate">
                    <p dir="auto">
                        <a href="https://github.com/sebastianconcept/Mapless/releases">
                            <img src="https://camo.githubusercontent.com/3dc804943cf118f8104192f25ad9edc31114c669d8b994e795da811b99372d71/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f762f7461672f73656261737469616e636f6e636570742f4d61706c6573733f6c6162656c3d72656c65617365" alt="Release" data-canonical-src="https://img.shields.io/github/v/tag/sebastianconcept/Mapless?label=release" style="max-width: 100%;">
                        </a>
                        <a href="https://github.com/sebastianconcept/Mapless/actions/workflows/build.yml">
                            <img src="https://github.com/sebastianconcept/Mapless/actions/workflows/build.yml/badge.svg" alt="Unit Tests" style="max-width: 100%;">
                        </a>
                        <a target="_blank" rel="noopener noreferrer nofollow" href="https://camo.githubusercontent.com/d691bdf02cb5e27f8b833436c469e0a6dd82b825b8f7c6ed4a45d8444da6f846/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f74657374732d3139332d677265656e">
                            <img src="https://camo.githubusercontent.com/d691bdf02cb5e27f8b833436c469e0a6dd82b825b8f7c6ed4a45d8444da6f846/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f74657374732d3139332d677265656e" alt="Tests" data-canonical-src="https://img.shields.io/badge/tests-193-green" style="max-width: 100%;">
                        </a>
                        <a href="https://codecov.io/gh/sebastianconcept/Mapless/branch/master" rel="nofollow">
                            <img src="https://camo.githubusercontent.com/334cc366735c71c02cf6f6188d652c8c522e97ed46b4a8a9dd661832bc8c7bbd/68747470733a2f2f636f6465636f762e696f2f6769746875622f73656261737469616e636f6e636570742f4d61706c6573732f636f7665726167652e7376673f6272616e63683d6d61696e" alt="Coverage Status" data-canonical-src="https://codecov.io/github/sebastianconcept/Mapless/coverage.svg?branch=main" style="max-width: 100%;">
                        </a>
                    </p>                            
                    <p dir="auto">
                        <a href="https://pharo.org/download" rel="nofollow"><img src="https://camo.githubusercontent.com/e494c270082ad4482d59740ae51b251cd0570699ffc999aa14ce3a567aac4e2d/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f506861726f2d31302d2532333338333933322e737667" alt="Pharo 10" data-canonical-src="https://img.shields.io/badge/Pharo-10-%23383932.svg" style="max-width: 100%;"></a>
                        <a href="https://pharo.org/download" rel="nofollow"><img src="https://camo.githubusercontent.com/7b76be89d869a3218f8f371e0be991c73dde1e4e9b26d994e61b23ce2d8ac27a/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f506861726f2d31312d2532333338333933322e737667" alt="Pharo 11" data-canonical-src="https://img.shields.io/badge/Pharo-11-%23383932.svg" style="max-width: 100%;">
                        </a>
                    </p>
                    <p dir="auto">
                        <a href="/sebastianconcept/Mapless/blob/develop/LICENSE.txt"><img src="https://camo.githubusercontent.com/b8593b8ea2157c85d33229b9ae386247de6fcedee3c630642a5c8eb3b09d87ae/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f6c6963656e73652d4d49542d677265656e" alt="License" data-canonical-src="https://img.shields.io/badge/license-MIT-green" style="max-width: 100%;"></a>
                        <a href="/sebastianconcept/Mapless/blob/develop"><img src="https://camo.githubusercontent.com/c95d94a4654b02ef8d96b25107302dae48f009735484c593b8a9535ea275a9c4/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f73746172732f73656261737469616e636f6e636570742f4d61706c6573733f7374796c653d736f6369616c" alt="Social" data-canonical-src="https://img.shields.io/github/stars/sebastianconcept/Mapless?style=social" style="max-width: 100%;"></a>
                        <a href="/sebastianconcept/Mapless/blob/develop"><img src="https://camo.githubusercontent.com/6db1a102f722dbac742801630dec2f6cf5cc138dab7f81455ba8ee25ebc9ac20/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f666f726b732f73656261737469616e636f6e636570742f4d61706c6573733f7374796c653d736f6369616c6c" alt="Forks" data-canonical-src="https://img.shields.io/github/forks/sebastianconcept/Mapless?style=sociall" style="max-width: 100%;"></a>
                    </p>
                    <p dir="auto">
                        <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.sqlite.org"><img src="https://camo.githubusercontent.com/add0ecc80c10cddd909ca74de4f101c01db1860ff9de3ab9ab572736ec58cf16/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f53716c6974652d3030334235373f6c6f676f3d73716c697465266c6f676f436f6c6f723d7768697465" alt="" data-canonical-src="https://img.shields.io/badge/Sqlite-003B57?logo=sqlite&amp;logoColor=white" style="max-width: 100%;"></a>
                        <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.postgresql.org"><img src="https://camo.githubusercontent.com/f447d395715e2d534084864351713a67f641aeae67821aebc1626d43bbd2dd76/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f506f737467726553514c2d3331363139323f6c6f676f3d706f737467726573716c266c6f676f436f6c6f723d77686974" alt="" data-canonical-src="https://img.shields.io/badge/PostgreSQL-316192?logo=postgresql&amp;logoColor=whit" style="max-width: 100%;"></a>
                        <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.mongodb.com"><img src="https://camo.githubusercontent.com/496703de5c06673fa153baba353378c4e9a759c65424297f8de339708f6f54af/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6f6e676f44422d3445413934423f6c6f676f3d6d6f6e676f6462266c6f676f436f6c6f723d7768697465" alt="" data-canonical-src="https://img.shields.io/badge/MongoDB-4EA94B?logo=mongodb&amp;logoColor=white" style="max-width: 100%;"></a>
                        <a target="_blank" rel="noopener noreferrer nofollow" href="https://en.wikipedia.org/wiki/Random-access_memory"><img src="https://camo.githubusercontent.com/95fc01de125d9b22324e5aa6a67b96284d28e75950ec1ff16e8520fc7e1d148b/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f52414d2d303031423537" alt="" data-canonical-src="https://img.shields.io/badge/RAM-001B57" style="max-width: 100%;"></a>
                        <a target="_blank" rel="noopener noreferrer nofollow" href="https://unqlite.org"><img src="https://camo.githubusercontent.com/74052b0e9205bd0b56573dbd3186ea2cc56446cb19f41610bd62baadd2953f60/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f556e516c6974652d3030333132373f6c6f676f3d756e716c697465266c6f676f436f6c6f723d7768697465" alt="" data-canonical-src="https://img.shields.io/badge/UnQlite-003127?logo=unqlite&amp;logoColor=white" style="max-width: 100%;"></a>                    
                        <a target="_blank" rel="noopener noreferrer nofollow" href="https://redis.io/"><img src="https://camo.githubusercontent.com/b0e7559b6b4c0ecfa395091ec6174d11d6d6ff4ddb8974680bf1d3b7ab819577/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f72656469732d4343303030302e7376673f6c6f676f3d7265646973266c6f676f436f6c6f723d7768697465" alt="" data-canonical-src="https://img.shields.io/badge/redis-CC0000.svg?logo=redis&amp;logoColor=white" style="max-width: 100%;"></a>
                    </p>
                    </div>
                <div class="elaborate">
                </div>
            </div>     
        </section>
        <section class="howDoesItFeel">
                <div class="col-md-5 ">
                    <div class="elaborate">
                        <h5>Need to persist modeled data?</h5>
                        <p>This is what happens when you do it with Mapless:</p>
                        <ol>
                            <li>Create a dedicated subclass for each type of data model.</li>
                            <li><del>Know in advance the attributes they'll require.</del></li>
                            <li><del>Create instance variables for these attributes.</del></li>
                            <li><del>Add accessors for each of them.</del></li>
                            <li><del>Careful map them so it all fits in the database.</del></li>
                            <li><del>Patiently re-map them every time you need to change its design saying 'hi' to object-database mismatches.</del></li>
                            <li>Actually save them.</li>
                            <li>Profit.</li>
                        </ol>
                    </div>
                </div>

                 <!-- <div id="screencast" class="col-md-7">
                    <div class="elaborate ">
                        <h5 >Screencast</h5>
                        <p><iframe width="420" height="315" src="//www.youtube.com/embed/BNXXDOPLxtE" frameborder="0" allowfullscreen></iframe></p>
                    </div>
                </div> -->

                <div class="col-md-12">
                    <div class="elaborate">
                        <h5>How does it look like?</h5>
                        <p>Let's say you want to store and retrieve instances of <code>Task</code> as Mapless models using MongoDB as backend.</p>
                        <p>In essence, you'll create a repository object to handle <code>Task</code> instances — saving, querying, updating, or deleting them.</p>
                        <p>Let's see the snippets for achieving these basic operations one by one.</p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="elaborate">
                        <h5>Create the repository</h5>
                        <p>There are two ways to access MongoDB with Mapless. <code>MaplessStandaloneMongoPool</code> for single server setups and <code>MaplessMongoReplicaSetPool</code> for clusters of <a href="https://www.mongodb.com/docs/manual/replication/" target="_blank"> replica sets</a>.</p>
                        <p>The following one shows an example for accessing a local standalone MongoDB.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Create a repository to access a standalone MongoDB service</p>
                        {% include repository.html %}
                    </div>
                </div> 

                <div class="col-md-12">
                    <div class="elaborate extraTop">
                        <h5>Model your data</h5>
                        <p>Creating new instances of your data models is straightforward — treat them like any other object.</p>
                        <p>The only thing to remark here is that you do not need to create the mutator methods <code>description:</code> nor <code>isComplete:</code> in the <code>Task</code> class.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Create a new model</p>
                        {% include model.html %}
                    </div>
                </div>                 

                <div class="col-md-12">
                    <div class="elaborate extraTop">
                        <h5>Storing</h5>
                        <p>To store data, simply send the <code>save</code> message to any <code>Mapless</code> instance, and be automatically inserted or updated in the database.</p>
                        <p>The repository object features the <code>do:</code> method, accepting a block closure. This allows your Mapless object to understand the repository it should work with.</p>
                        <p>Alternatively, you can implement <code>Task class>>getRepository</code> to have the model provide the repository directly, enabling it to handle the  <code>save</code> operation without relying on a closure from external sources.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Saving a model</p>
                        {% include save.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="getting">Querying</h5>
                        <p>Mapless supports various persistent backends, and the method of implementing queries for your data depends on the specific backend in use. For instance, with a PostgreSQL or SQLite backend, SQL queries are employed. In the case of MongoDB, Mapless utilizes the <a href="http://smalltalkhub.com/#!/~MongoTalkTeam/mongotalk">MongoTalk</a> querying feature, while Redis adopts a namespaced convention.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Fetching objects</p>
                        {% include findAll.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Making the queries powerful</h5>
                        <p>Let's say you are using a MongoDB backend and want a production ready query by <code>username</code> for this <code>Task</code>. All you have to do is to <a href="https://www.mongodb.com/docs/manual/reference/method/db.collection.createIndex/" target="_blank">create an index in MongoDB</a> for <code>username</code> in the <code>Task</code> collection. Optionally, you can add a class method in <code>Task</code> tailored to this query.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Querying efficiently</p>
                        {% include findAtUsername.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="updating">Adding properties to models</h5>
                        <p>Simply do it. Unless overriden, Mapless catches all messages you send to a model via <a href="https://wiki.c2.com/?DoesNotUnderstand" target="_blank">DNU</a>. It is smart enough to allow you to add a date a string or almost any other object without declaring instVars or demanding making schemas or any accessors for it.</p>
                    </div>
                </div>

                <div id="simple" class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Adding information to your data</p>
                        {% include update.html %}
                    </div>
               </div> 

                 <div id="composability" class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Composition</h5>
                        <p>When you model data using your custom Mapless classes, you have the flexibility to add almost any property to them, especially other Mapless models—hence, composition. In such cases, Mapless efficiently organizes the data, utilizing one collection or table in the backend per type of Mapless object.</p>
                        <p>The main rule when working with composition here is <em>save the children first</em>.</p>
                    </div>
                </div>


                <div  class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Composing models</p>
                        {% include composition.html %}
                    </div>
                </div> 

                <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Graph navigation</h5>
                        <p>Saving a Mapless object is akin to planting the root of a graph. When interacting with a composed Mapless object, accessing the child Mapless feels like navigating one level deeper in the object graph. Composed Mapless objects return lazy references for every known (sub)Mapless to the parent. When you send a message to a (sub)model, the DNU method seamlessly resolves it, making it appear as if it was always there.</p>
                        <p>At the same time, if a Mapless object never sends any message to a child, then your application is not doing any unnecessary query. This prevents your backend from doing unnecessary extra work in advance making your system more efficient by default and in general.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Navigating model graphs</p>
                        {% include navigation.html %}
                    </div>
                </div> 

                <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="portability">Supported backends</h5>
                        <p>All Mapless subclasses share the same fundamental Smalltalk API. When resolving requested operations, they delegate to a corresponding <code>MaplessRepository</code> subclass aligned with one of the concrete supported backends.</p>
                        <p>Currently supported backends include:</p>
                        <ol>
                            <li>SQLite.</li>
                            <li>PostgreSQL.</li>
                            <li>MongoDB.</li>
                            <li>Redis.</li>
                            <li>Memory.</li>
                            <li><s>UnQLite</s> (Deprecated and retiring soon).</li>
                        </ol>
                    </div>
                </div>

                 <div id="why" class="col-md-12 ">
                    {% include intention.html %}
                </div>

                <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5>Applicability and Real-World Scenarios</h5>
                        <p>Mapless, in active production since 2014, has proven its versatility across diverse scenarios—from initial Proof of Concepts to supporting mission-critical services actively monitored 24/7 by numerous network operators in the telecom industry.</p>
                        <p>Mapless excels in various use cases, including:</p>
                        <ul>
                            <li><strong>Proof of Concept APIs</strong>: Rapidly develop and test APIs for conceptual exploration.</li>
                            <li><strong><a href="https://bff-patterns.com/" target="_blank">BBFs</a></strong> - Backend For Frontends: Serve as a robust backend solution tailored for frontend applications.</li>
                            <li><strong>MVP Development</strong>: Facilitate the creation of Minimal Viable Products (MVPs) with minimal costs and unparalleled speed.</li>
                            <li><strong>RESTful Custom APIs</strong>: Craft customized and efficient APIs adhering to RESTful principles.</li>
                            <li><strong>Web Application and API Integration</strong>: Seamlessly integrate with external CRMs, facilitating lead generation for the hospitality industry in Austria.</li>
                            <li><strong>Scalable APIs and networking microservices</strong>: Scaling APIs to thousands of operations per second for years in the North American Telecommunications industry.</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5>Guides</h5>
                        <p>Here are some guides to help you get started:</p>
                        <ul>
                            <li><s>RESTful APIs with Mapless on Teapot.</s> To-Do</li>
                            <li><s>Redis as a cache.</s> To-Do</li>
                            <li><s>Redis as messaging channel across images.</s> To-Do</li>
                            <li><s>Using Maples with a MongoDB Replica Set.</s> To-Do</li>
                            <li><s>Simple Web Application PoC with htmx Teapot and Mapless.</s> To-Do</li>
                            <li><s>How-to use Maples with SQLite in production with litestream.io backups</s>. To-Do</li>
                        </ul>
                    </div>
                </div>

                 <div id="involved" class="col-md-12 ">
                    <div class="elaborate">
                        <h5 class="">Frequently Asked Questions</h5>
                            <p><em>What saving 'Models' means? why not any object?</em></p>
                            <p>By "Models," Mapless refers to instances that represent persistent data, excluding transient entities such as contexts, sockets, or file handlers. Any instance of a Mapless subclass can be saved effortlessly. These instances are serialized and stored as documents in their respective MongoDB collection or PostgreSQL table.</p>
                            <p><em>Is only for tree-like structures or does actually support an object graph?</em></p>
                            <p>As long as you adhere to its rules, such as saving children first and treating your models as NoSQL-friendly documents and not trying to store a Socket or some unserializable object, yes, Mapless does support an arbitrary object graph.</p>
                            <p><em>Why would I want to use Mapless?</em></p>
                            <p> Because you might want to profit from some of these benefits:
                            <ol>
                                <li>JSON friendly persisted models.</li>
                                <li>Having frictionless system interoperability with Ruby and NodeJS and any JSON friendly object oriented app.</li>
                                <li>Dealing with Gigas or Teras order of magnitude databases.</li>
                                <li>High availability via <a href="https://www.mongodb.com/docs/manual/replication/" target="_bank">MongoDB Replica Set features</a> or <a href="https://www.postgresql.org/docs/current/high-availability.html" target="_bank">PostgreSQL Replication</a>.</li>
                                <li>Replication of the whole database across the cloud.</li>
                                <li>World class databases many engineers are familiar to use and <em>maintain</em>.</li>
                                <li>Powerful queries and custom indices.</li>
                                <li>Freedom from <em>a prioristic</em> instVars declarations.</li>
                                <li>Freedom from mappings maintenance <em>when</em> the design changes.</li>                                
                                <li>Cross-image model caching (requires Redis).</li>
                                <li>Cross-image model observation/reaction, horizontally scalling the <a href="http://en.wikipedia.org/wiki/Observer_pattern" >Observer Pattern</a> (requires Redis PUB/SUB).</li>
                            </ol> All that with <em>very low-friction and low-maintenance</em> using one comfortable API.<p>                    
                    </div>
                </div>

                <div id="direction" class="col-md-12 ">
                    <div class="elaborate">
                        <h5>Found a Bug?</h5>
                        <h5>Need that feature for your use case?</h5>
                        <p>Please create a <a href="https://github.com/sebastianconcept/Mapless/issues" target="_blank">GitHub issue</a> in the Mapless repository.</p>
                    </div>
                </div>

                 <div id="direction" class="col-md-12 ">
                    <div class="elaborate">
                        <h5>Need additional support?</h5>
                        <p>Don't hesitate to reach out in <a href="https://twitter.com/sebastianconcpt" target="_blank">𝕏</a> or <a href="https://www.linkedin.com/in/sebastiansastre/" target="_blank">LinkedIn</a> <a href="https://discord.com/invite/QewZMZa" target="_blank">Pharo Discord server</a> for discussing design possibilities and implementation support.</p>
                    </div>
                </div>

                 <div class="col-md-12">
                    <div class="elaborate ">
                        <h5 class="">License</h5>
                        <p>Since 2014 <a href="http://sebastiansastre.co">Sebastian Sastre</a> published Mapless under the terms of <a href="https://github.com/sebastianconcept/Mapless/blob/master/LICENSE">MIT License</a>.</p>
                </div>
        </section>
</div>
<div>
    {% include foot.html %}
</div>