---
layout: default
title: Mapless, obscenely simple object persistence
---


<div class="container">
    <div class="header">
        <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
        </a>
        <div class="row">
            <div class="logoWrap">
                <div class="symbol">
                    <img alt="Mapless logo" src="images/symbol.png">
                </div>    
                <div class="center-on-mobiles">
                    <h1>mapless</h1>
                </div>    
        </div>
        </div>    
    </div>

    <div class="content">
        <section class="intro">
          {% include intro.html %}
        </section>
        <section class="start">
                <div class="col-md-4 loadNow center-on-mobiles">
                    <h4>Start saving objects <em>in seconds</em></h4>
                </div>
                <div class="col-md-7 ">
                    <div class="quickstart">
                        <p class="shellTitle">Load in Pharo</p>
                        {% include gofer.html %}
                    </div>
                </div>            
        </section>

        <section class="howDoesItFeel">
                <div class="col-md-5 ">
                    <div class="elaborate">
                        <h5>Need to save your models?</h5>
                        <p>Great! this is what happens with Mapless:</p>
                        <ol>
                            <li>Create a subclass for them</li>
                            <li><del>Know in advance what attributes they will need</del></li>
                            <li><del>Create its attributes' instVars</del></li>
                            <li><del>Make accessors for all of them</del></li>
                            <li><del>Elegantly map them so it all fits in the database</del></li>
                            <li><del>Maintain the mapping to prevent object-database mismatch</del></li>
                            <li>Profit</li>
                        </ol>
                    </div>
                </div>

                 <div id="screencast" class="col-md-7">
                    <div class="elaborate ">
                        <h5 >Screencast</h5>
                        <p><iframe width="420" height="315" src="//www.youtube.com/embed/BNXXDOPLxtE" frameborder="0" allowfullscreen></iframe></p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="elaborate">
                        <h5>How does it look like?</h5>
                        <p>You can store  and retrieve your Mapless models on MongoDB in a breeze. Here is a couple of snippets of real code used while developing <a href="http://tasks.flowingconcept.com">tasks</a>.</p>
                        <p>Getting a connection:</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Get a connection</p>
                        {% include connection.html %}
                    </div>
                </div> 

                <div class="col-md-12">
                    <div class="elaborate extraTop">
                        <p>Creating new instances of your models have nothing special. You treat them like any other object</p>
                    </div>
                </div>
                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Create a new model</p>
                        {% include model.html %}
                    </div>
                </div> 

                <div class="col-md-12">
                    <div class="elaborate extraTop">
                        <h5>Saving a model</h5>
                        <p>In Mapless you do things inside the <code>#do:[ "your things here" ]</code> closure which Mapless uses to automatically discern which MongoDB database and collection has to be used. It will automatically know if the save operation has to be an insert or an update. And, as bonus, you also get the collection <em>and</em> the database created lazily.</p>
                    </div>

                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Saving a model</p>
                        {% include save.html %}
                    </div>
                </div> 

                <div class="col-md-12 ">
                    <div class="elaborate">
                        <p>At <a href="http://flowingconcept.com">flowing</a> we call this a <em>low-friction</em> save.</p>
                    </div>
                </div>
                 <div class="col-md-12 ">
                    <div class="elaborate">
                        <h5 id="getting">Getting stored objects</h5>
                        <p>Here you have some basic queries.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Fetching objects</p>
                        {% include findAll.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Powerful queries</h5>
                        <p>Mapless uses <a href="http://smalltalkhub.com/#!/~MongoTalkTeam/mongotalk">MongoTalk</a> to connect to the database so you have all its power at your fingertips. Need an efficient query? No problem, just make the index in mongoDB, a class method to query on it from your model class and you're ready for your next task.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Querying efficiently</p>
                        {% include findAtUsername.html %}
                    </div>
                </div> 

                 <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Adding stuff to models</h5>
                        <p>Simply do it. Unless overriden, Mapless will catch all messages you send to your models with a DNU and is smart enough to allow you to add a date a string or other objects without declaring instVars or making any accessors.</p>
                    </div>
                </div>

                <div id="simple" class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Adding information in a model</p>
                        {% include extra.html %}
                    </div>
               </div> 
                <div class="col-md-12">
                    <div class="elaborate">
                        <p>At <a href="http://flowingconcept.com">flowing</a> we call this <em>low-maintenance</em> storage.</p>
                    </div>
                </div>

                 <div id="composable" class="col-md-12 ">
                    <div class="elaborate">
                        <h5 id="adding">Composition</h5>
                        <p>You add whatever you need to them, even other Mapless models.</p>
                        <p>When you want to compose your models, the only thing Mapless asks you in return is that your app pays attention to the order in which the models are saved. The way Mapless works is saving the children first. That's not too bad right?</p>
                    </div>
                </div>


                <div  class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Composing models</p>
                        {% include composition.html %}
                    </div>
                </div> 

                <div class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5 id="adding">Graph navigation</h5>
                        <p>Mapless embraces laziness. When you navigate the object graph, it will return references for every (sub)model known by the root you got. When you send a message to a (sub)model, the #DNU method will return it resolving as if it was always there.</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Navigating model graphs</p>
                        {% include navigation.html %}
                    </div>
                </div> 


                <div id="reactive" class="col-md-12 ">
                    <div class="elaborate extraTop">
                        <h5>Mapless powered by Redis</h5>
                        <p>Redis is great for:</p>
                        <ol>
                            <li><strong>Caching</strong>. It will hold the data in RAM so you get great response times.</li>
                            <li><strong>Reactivity</strong>. There is a set of Mapless that uses Redis <a href="http://redis.io/topics/pubsub">PUB/SUB</a> feature to observe/react models among N worker images enabling <a href="http://en.wikipedia.org/wiki/Scalability#Horizontal_and_vertical_scaling">horizontal scaling</a>.</li>
                        </ol>
                        <p>Here is a workspace for Redis-based Mapless models:</p>
                    </div>
                </div>

                <div class="col-md-9 workspace">
                    <div class="">
                        <p class="shellTitle">Mapless on Redis</p>
                        {% include reactive.html %}
                    </div>
                </div> 

                <div class="col-md-9 workspace">
                    <div class="elaborate">
                        <p>Wait a sec, where's my reactivity there?</p>
                        <p>Oh snap! you got us there... Reactivity is not ready for prime time yet. But we're getting there. Perhaps you want to <a href= "#involved">join your talent to this effort</>?</p>
                    </div> 
                </div> 

                 <div id="why" class="col-md-12 ">
                    {% include intention.html %}
                </div>

                 <div id="involved" class="col-md-12 ">
                    <div class="elaborate">
                        <h5 class="">Get involved!</h5>
                            <p>Want to push this forward? Awesome!</p>
                            <ol>
                                <li>Clone the repo</li>
                                <li>Add your contribution / feature / bugfix</li>
                                <li>Send your pull request</li>
                            </ol>
                    </div>
                </div>

                 <div id="direction" class="col-md-12 ">
                    <div class="elaborate">
                        <h5>Direction?</h5>
                        <ol>
                            <li>We would love to see more and better tests and iterate the design of the reactive features so you can ultimately get an a model in one image being observed in regard to one event by something in another image and that something reacting upon that event. Broadcast and multicast of events would be also a nice feat and not too hard to do. Have design suggestions? Let's have a chat!</li>
                            <li>For MongoDB-based Mapless, a nice feature would be to have <code>UserModel ensureIndex: '{ key1: 1, key2: -1 }'</code></li>
                            <li>We actually are starting to think <a href="http://amber-lang.net">Amber</a> and <a href="http://en.wikipedia.org/wiki/Web_storage">localStorage</a> but that's more hush hush at this point. Oh gee! <a href="https://www.youtube.com/watch?v=ZDC1N5wYsMg">we already</a> blown it!</li>
                        </ol>
                        <p>Want to discuss its design? Lets hangout</p>
                    </div>
                </div>

                 <div class="col-md-12">
                    <div class="elaborate ">
                        <h5 class="">License</h5>
                        <p>All Mapless software and the contents of this website are © 2014 by <a href="http://about.me/sebastianconcept">Sebastian Sastre</a> under the terms of <a href="https://github.com/sebastianconcept/Mapless/blob/master/LICENSE">MIT License</a></p>
                </div>
        </section>

</div>
<div>
    {% include foot.html %}
</div>