<div class="shell">
  {% highlight st %}
  "Get all models of a given Mapless class from the repository"
    allTasks := repository findAll: Task.

    "Same within the repository context"
    repository do: [ allTasks := Task findAll ].

    "Same but when your Mapless class can do its own getRepository
    (uses the MaplessCurrentRepository DynamicVariable)"
    allTasks := Task findAll.

    "Getting a specific model using its id"
    thatTask := Task findId: 'c472099f-79b9-8ea2-d61f-e5df34b3ed06'.

    "The Mapless models that are stored in MongoDB can use MongoTalk querying features"
    thatTask := Task findOne: { #description -> 'Try Mapless' } asDictionary.
    
    "All tasks of a given user"
    allUserTasks := Task find: { #username -> 'tasksninja' } asDictionary.

    "Second batch of 10 tasks about trying something ordered by description"
    criteria := { #description -> { '$regex' -> '^Try.*' } asDictionary } asDictionary.
    userTasksAboutTryingThings := Task find: criteria
      limit: 10
      offset: 20
      sort: { #description -> 1 } asDictionary.   

    "If we'd be using PostgreSQL instead and wanting the same data"
    criteria := 'maplessData->> ''description'' LIKE ''Try%'''.
    
    "The criteria filter here is used in the predicate of the SQL sentence 
    that Mapless creates for querying this"
    userTasksAboutTryingThings := Task find: criteria
      limit: 10
      offset: 20
      sort: 'description DESC'.
    {% endhighlight %}
</div>
