<div class="fluid extraTop">
	<div class="row">
	    <div class="col-md-7 h5NoTop">
	        <h5 class="h5NoTop">Why Mapless?</h5>
	        <div class="thumb">
	            <a href="https://sebastiansastre.co/" target="_blank" >
								<img alt="Sebastian Sastre portrait" src="images/p3.jpg" width="68">
	            </a>
	        </div>

	        <blockquote>I wanted to persist objects with <i>low friction</i>, <i>low maintenance</i> but high <i>scale</i>, <i>throughput</i> and <i>availability</i> capabilities and <a href="http://github.com/sebastianconcept/Mapless" target="_blank">Mapless</a> is totally biased towards that. This framework is what I came up with after incorporating my SaaS experience with <a href="https://www.youtube.com/watch?v=7Z29q5PUoJs" target="_blank">airflowing</a>.
	        </blockquote>
	    </div>
	    <ul class="col-md-5 thereIsNo">
	      <li>There are no instVars...</li>
	      <li>No accessors...</li>
	      <li>No object-mapping impedance...</li>
	      <li></br>— Only persistence.</li>
	      <li></br>What would you do with it?</li>
	    </ul>
	</div>
</div>