<div class="fluid extraTop">
	<div class="row">
	    <div class="col-md-7 h5NoTop">
	        <h5 class="h5NoTop">Why Mapless?</h5>
	        <div class="thumb">
	            <a href="http://about.me/sebastianconcept">
	                <img alt="Sebastian's face" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/p50x50/1920076_4000903876523_97483785_t.jpg">
	            </a>
	        </div>

	        <blockquote>I wanted to persist objects with <i>low friction</i>, <i>low maintenance</i> but <i>high scaling</i> and <i>availability</i> capabilities so <a href="http://github.com/sebastianconcept/Mapless" target="_blank">Mapless</a> is totally biased towards that. This framework is what I came up with after incorporating my experience with <a href="https://github.com/sebastianconcept/Aggregate" target="_blank">Aggregate</a> in <a href="http://airflowing.com">airflowing</a>.
	        </blockquote>
	    </div>
	    <ul class="col-md-5 thereIsNo">
	      <li>There is no instVars...</li>
	      <li>There is no accessors...</li>
	      <li>There is no object-mapping impedance...</li>
	      <li></br>Only persistence.</li>
	    </ul>
	</div>
</div>