<h2 class="catchPhrase"><em>Obscenely</em> simple object persistence</h2>
<div class="fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="appeal leftAppeal">
			    <h3>Simple</h3>
			    <p>Low maintenance for real. No instance variables, no getters, and no setters — just saved models with your data.</p>
			    <a href="#updating">Add data to a model →</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="appeal middleAppeal">
			    <h3>Composable</h3>
					<p>Do you need to compose models? But of course you do! No mapping required — just add those (sub)models, save its children first, and you're good to go.</p>
			    <a href="#composability">Compose models →</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="appeal rightAppeal">
			    <h3>Portable</h3>
					<p>Shared API across backends. For example, start with SQLite and easily move to MongoDB or PostgreSQL while caching with Redis.</p>
			    <a href="#portability">Data portability →</a>
			</div>
		</div>

		<!-- <div class="col-md-4">
			<div class="appeal rightAppeal">
			    <h3>Reactive</h3>
			    <p>Observe model events in one image and react with an observer from another image. All in a scalable way.</p>
			    <a href="#reactive">React to model events →</a>
			</div>
		</div>-->
	</div>
</div>